node_modules
dist
.env
.env.example
.vscode
.git
.gitkeep
.gitignore
.prettierrc
.prettierignore
package.json
package-lock.json
pnpm-lock.yaml
yarn.lock
*.html
*.jpg
*.png
*.jpeg
*.gif
README.md
LICENSE